
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <nav>
    <button class="button-10"><a href="/main">main</a></button>
    <button class="button-10"><a href="faq.html">faq</a></button>
    <button class="button-10"><a href="/dashboard">profile</a></button>
</nav>


  <br>

    <div class="flex items-center justify-center h-screen bg-steam-lightGray text-white flex-col">
        <div class="text-2xl">Welcome to the dashboard</div>
    </div>
    
    <% if (!user) { %>

      <h2>Welcome! Please <a href="/auth/steam">log in.</a></h2>

    <% } else { %>

      <h2>Hello, <%= user.displayName %>. - <a href='logout'>Logout</a></h2>
      <p><img src='<%= user.photos[2].value %>' alt='Your Avatar Image' /></p>
      <p>ID: <%= user.id %></p>
      <p>Name: <%= user.displayName %></p>
      <% for(var count = 0; count<invData.length; count++){%>
        <img src="https://community.akamai.steamstatic.com/economy/image/<%= invData[count].icon_url %>/100fx100f" title="<%= invData[count].name %>" alt="<%= invData[count].name %>">
      <%}%>

    <% } %>
</body>
</html>